name: Deploy to Hostinger

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '21.2.0'

    # 3. Устанавливаем зависимости и запускаем билд
    - name: Install dependencies and build
      run: |
        npm install
        npm run simple-build

    - name: Deploy build to Hostinger
      env:
        HOSTINGER_FTP_HOST: ${{ secrets.HOSTINGER_FTP_HOST }}
        HOSTINGER_FTP_USERNAME: ${{ secrets.HOSTINGER_FTP_USERNAME }}
        HOSTINGER_FTP_PASSWORD: ${{ secrets.HOSTINGER_FTP_PASSWORD }}
      run: |
        sudo apt-get update
        sudo apt-get install -y lftp
        lftp -e "
          open $HOSTINGER_FTP_HOST;
          user $HOSTINGER_FTP_USERNAME $HOSTINGER_FTP_PASSWORD;
          mirror -R ./dist public_html;
          bye;
        "
